/* Universal box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Josefin Sans";
  margin: 0;
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

input,
textarea,
select {
  background: transparent;
  border: 0;
}
