/* Universal box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Josefin Sans";
  margin: 0;
  overflow-x: hidden;
}
